# Ignore everything
*

# But don't ignore the .gitignore file
!.gitignore

# Don't ignore the src directory
!src/

# Don't ignore anything in src/ or its subdirectories
!src/**

# Don't ignore the out directory itself
!out/

# But don't ignore main in out/
!out/main.pdf